body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    border-bottom: 1px solid black;
}
.img-fluid rounded-circle {
    width: 10px;
    height: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
@media (max-width: 768px) {
    .section {
        padding: 40px 0;
    }
    h1, h2, h3 {
        font-size: 1.5rem;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



.titreCompetence {
   margin: 120px 0 20px 0;
}

.section {
    padding: 60px 0;
}

/* Contact */
.titreContact {
    padding: 40px 0 50px 0;
    /* fusion */
    margin-top: 100px;
}
 
  
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-intro-text {
    animation: fadeInSlide 1.5s ease-out forwards;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 300;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.nav-item.active .nav-link {
    color: #007bff !important;  /* Highlight color for the active nav item */
    border-bottom: 2px solid #007bff;  /* Underline for active nav item */
}

@keyframes imageFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.animated-image {
    animation: imageFadeIn 1.5s ease-out forwards;
}


@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.continuous-animation {
    animation: pulseAnimation 2s infinite;
}

.nav-item .nav-link:hover {
    color: #007bff !important;
}

.card:hover, .card:hover .card-title, .card:hover .card-text {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

:root {
    --primary: #5A67D8;  /* A shade of blue */
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.navbar {
    background-color: var(--primary) !important;
}
.navbar .nav-link {
    color: white !important;
}
.navbar .nav-link:hover {
    color: #ddd !important;
}

.modal-content {
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
#accueil img.continuous-animation {
    animation: pulseAnimation 2s infinite;
}